<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoxBraydonAssignment2Part1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3B0A3D01DA17E0D00D80699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3B0A3E41DA17E0D00D80699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3B0A3EF1DA17E0D00D80699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
